MO_HOME="/home/admin/www/mo_prod"
CONSTANTSPY="${MO_HOME}/pyserver/server3/constants.py"
CONSTANTSJS="${MO_HOME}/frontend/src/constants.js"
CONFIGJS="${MO_HOME}/frontend/config.js"
CONFIGINI="${MO_HOME}/pyserver/server3/repository/config.ini"
INITPY="${MO_HOME}/pyserver/functions/template/python3/function/modules/__init__.py"
REQUIREMENTSTXT="${MO_HOME}/pyserver/requirements.txt"
JUPYTERHUBCONFIGPY="${MO_HOME}/pyserver/jupyterhub/jupyterhub_config.py"
PIPERRORLOG="/home/admin/script/pip_error.log"
ENV="PROD"
OS="Linux"
DOCKER_IMAGE="magicalion/singleuser:dev"
DOCKER_JOB_IMAGE="magicalion/singleuser-job:dev"
DOCKER_JOB_GPU_IMAGE="magicalion/singleuser-job:dev-gpu"
DOCKER_FAAS_PYTHON3_IMAGE="magicalion/faas-python3:latest"
DOCKER_CELERY_APP_IMAGE="magicalion/celery-app:rc"
GIT_BRANCH="develop"
KLAUS_HOME="/home/admin/www/klaus"
